name: Customer-Churn-Pipeline

on:
  push:
  pull_request:
    branches:
    - main
    - develop
  workflow_dispatch:
  repository_dispatch:
    types:
      - webhook
jobs:
  test_unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run unit tests
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest src/test_customer_churn_mlops.py
  train_pipeline:
      runs-on: ubuntu-latest
      needs: [test_unit]
      steps:
        - uses: actions/checkout@v3
          with:
            fetch-depth: 0

        - name: Set up Python 3.10
          uses: actions/setup-python@v4
          with:
            python-version: "3.10"

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

        - name: Train Model
          env: 
            MLFLOW_TRACKING_USERNAME: andresakmr
            MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
          run: |
            python src/customer_churn_mlops.py